<div id="container" class="container">
    <% if (success) { %>
    <div class="alert alert-success">
        <%= success %>
    </div>
    <% } %>
    <% if (error) { %>
    <div class="alert alert-error">
        <%= error %>
    </div>
    <% } %>
    <footer>
        <p><a href="http://www.baidu.com/" target="_blank">steeliter</a> 2015</p>
    </footer>
</div>