<% function showData(data,pageSize,totalCount){
    if(data.length){

    }else{

    }
    var paginator;
    var content;
}%>

<% if(data.length){ %>
    <p>共有<%=data.length%>项数据</p>
<%}else{%>
    <p>没有接收到数据</p>
<%}%>