<% include header.ejs%>
<!--todo : 把各项整成单行模式-->
<div>
    <form class="form-horizontal" method="post" id="xinshebei">
        <fieldset>
            <legend contenteditable="true">新增设备</legend>
            <div class="control-group">
                <label contenteditable="true">表签名</label>
                <input placeholder="Type something…" type="text">
                <span class="help-block" contenteditable="true">这里填写帮助信息.</span>
                <label class="checkbox" contenteditable="true">
                    <input type="checkbox"> 勾选同意
                </label>
            </div>
            <div class="control-group">
                <label contenteditable="true">表签名</label>
                <input placeholder="Type something…" type="text">
                <span class="help-block" contenteditable="true">这里填写帮助信息.</span>
                <label class="checkbox" contenteditable="true">
                    <input type="checkbox"> 勾选同意
                </label>
            </div>
            <div class="control-group">
                <label contenteditable="true">表签名</label>
                <input placeholder="Type something…" type="text">
                <span class="help-block" contenteditable="true">这里填写帮助信息.</span>
                <label class="checkbox" contenteditable="true">
                    <input type="checkbox"> 勾选同意
                </label>
            </div>
            <div class="control-group">
                <label contenteditable="true">表签名</label>
                <input placeholder="Type something…" type="text">
                <span class="help-block" contenteditable="true">这里填写帮助信息.</span>
                <label class="checkbox" contenteditable="true">
                    <input type="checkbox"> 勾选同意
                </label>
            </div>

            <button type="submit" class="btn" contenteditable="true">提交</button>


        </fieldset>
    </form>
</div>

<% include footer.ejs %>