<% include header.ejs %>
<script src="/javascripts/userAdminFront.js"></script>
<div>
	<div id="userAdmin" onload="onload()">
		<form class="form-inline">
			<div class="form-group">
				<label for="user_id">帐号</label> <input type="text"
					class="form-control" id="user_id" placeholder="帐号">
			</div>
			<div class="form-group">
				<label for="user_name">姓名</label> <input type="text"
					class="form-control" id="user_name" placeholder="姓名">
			</div>
			<button type="button" onclick="onSearch()" class="btn btn-primary">查找</button>
			<button type="button" onclick="deleteChecked()"
				class="btn btn-danger">删除选中</button>
		</form>
		<table id="userTable" class="table table-striped">
			<tr>
				<td><input type="checkbox" id="checkAll" onclick="check()"></td>
				<td>序号</td>
				<td>帐号</td>
				<td>姓名</td>
				<td>科室</td>
				<td>职务</td>
				<td>联系电话</td>
				<td>操作</td>
			</tr>
		</table>
		<div class="navbar">
			<div class="navbar-inner">
				<div id="paginationBox" class="container text-center">
					<ul id="pagination" class="nav"></ul>
				</div>
			</div>
		</div>
		<form id="userForm" class="form-inline modal hide fade">
		<h3>用户信息修改</h3>
			<div class="form-group">
				<label for="user_id_u">帐号</label> <input type="text"
					class="form-control" id="user_id_u" placeholder="帐号">
			</div>
			<div class="form-group">
				<label for="user_name_u">姓名</label> <input type="text"
					class="form-control" id="user_name_u" placeholder="姓名">
			</div>
			<div class="form-group">
				<label for="user_pwd_u">密码</label> <input type="password"
					class="form-control" id="user_pwd_u" placeholder="密码">
			</div>
			<div class="form-group">
				<label for="user_role_u">职务</label> <input type="text"
					class="form-control" id="user_role_u" placeholder="职务">
			</div>
			<div class="form-group">
				<label for="department_u">科室</label> <input type="text"
					class="form-control" id="department_u" placeholder="科室">
			</div>
			<div class="form-group">
				<label for="user_phone_u">联系电话</label> <input type="text"
					class="form-control" id="user_phone_u" placeholder="联系电话">
			</div>
			<button type="button" onclick="cancelUpdate()" class="btn btn-primary">取消</button>
			<button type="button" onclick="submitUpdate()"
				class="btn btn-info">提交</button>

		</form>
	</div>
	<% include footer.ejs %>